.buttons {
  z-index: 60000;
  display: flex;
  button {
    width: 60px;
    height: 45px;
    margin: 0px 10px;
    padding-top: 2.5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      background: rgba(151, 151, 151, 0.993);
    }
  }
}
@media all and (max-width: 512px) {
  .buttons {
    flex-direction: column;
    button {
      margin: 5px 5px;
    }
  }
}
@media all and (max-width: 400px) {
  .buttons {
    flex-direction: row;
    button {
      margin: 3px 7.5px;
      width: 45px;
      height: 35px;
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@media all and (max-height: 420px) {
  .buttons {
    flex-direction: column;
    button {
      margin: 5px 5px;
      width: 45px;
      height: 35px;
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
